body {
    height: 100vh;
}

.container {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.right-triangle {
    clip-path: polygon(0% 0%, 65% 0, 85% 50%, 65% 100%, 0% 100%);
    background-color: #00C2FF;
    height: 600px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    border: 5px solid black;
    border-radius: 50%;
    transform: translateX(60%);
    font-family: "Audiowide", sans-serif;
    /* animation: move 20s linear infinite; */
    animation-name: move;
    animation-duration: 1.5s;
    /* animation-delay: 3s; */
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    /* animation-fill-mode: forwards; */
    /* animation-delay: 5s; */
    /* animation-play-state: running; */
    height: 600px;
    width: 600px;
}


.text{
    position: absolute;
    font-size: xx-large;
    font-weight: 1000;
    background: #00C2FF;
    color: whitesmoke;
    text-transform: uppercase;
}

#aiml {
    margin-top: 250px;
    margin-left: -40px;
}
#aiml:before{
    content: "AI ML";
    animation: changeText 7s infinite;
}

#appdev {
    margin-top: 492px;
    margin-left: -24px;
    transform: rotate(-60deg);
}

#webdev{
    margin-top: 483px;
    margin-left: 304px;
    transform: rotate(-120deg);
}

#iot{
    margin-top: 38px;
    margin-left: 95px;
    transform: rotate(60deg);
}

#blockchain{
    margin-top: 34px;
    margin-left: 309px;
    transform: rotate(120deg);
}

#finance{
    margin-top: 250px;
    margin-left: 520px;
    transform: rotate(180deg);
}

@keyframes move {
    0% {
        transform: translateX(60%) rotate(-360deg);
    }
    25%,100%{
        transform: translateX(60%) rotate(0deg);
    }
} 

@keyframes changeText {
    0%,14%{
        content: "AI/ML";
    }
    15%{
        content: "APP DEVELOPMENT";
    }
    30%{
        content: "WEB DEVELOPMENT";
    }
    45%{
        content: "IOT";
    }
    60%{
        content: "BLOCKCHAIN";
    }
    77%,100%{
        content: "FINANCE";
    }
}